[Unit]
Description=Run Nagoya Road Monthly PDF Watch on first day of each month

[Timer]
OnCalendar=*-*-01 10:05:00 Asia/Tokyo
OnCalendar=*-*-01 10:15:00 Asia/Tokyo
AccuracySec=1min
Persistent=true
Unit=nagoya-road-monthly.service

[Install]
WantedBy=timers.target
